* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
html{
    background-color: #F2F2F2 ;
}
*,
 *::before,
 *::after{
    box-sizing: inherit;
}
.navBar{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100%;
    height: 25%;;
    justify-content: space-between;
}
.navBar a img{
    width: 50%;

}
.navLogo{
    justify-self: flex-start;
    filter: brightness(1.1);
    mix-blend-mode: multiply;         
    transition: transform 0.2s;
}
.navLinks {
    display: flex;
    flex-direction: row;
    

}
.navLinks a{
    list-style: none;
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    margin:2rem ;
    text-align: end;
}

/* ------------------------------------------ */

#galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    max-width: 800px;
    min-width: 600px;
    padding: 0 10px;
    margin: 10px 20%;
  }
  
  #galeria img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #img-activa {
    width: 100%;
    height: auto;
  }
  
  /*Contenedor Principal del Lightbox*/
  
  #contenedor-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  /*Contenedor interno del Lightbox*/
  
  #contenedor-interno {
    border: 2px #f3f3f3 solid;
    padding: 2px;
    background: #3f3f3f;
    max-width: 500px;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /*Botones*/
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }
  
  #btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
  }
  
  #btn-retrocede {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
  }
  
  #btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
  }
.historia{
  display: flex;
  flex-direction: column;

}
.historia h2{
  font-size: 28px;
  text-align: center;
}
.historiaCont{
  display: flex;
  flex-direction: row;
}
.historiaText{
  display: flex;
  flex-direction: column;
}
.historiaCont img{
  width: 30%;
}

  /* carrusel marcas */
#nuestrasMarcas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.marcasImg{
  flex-direction: row;
}

.marcasImg img{ 
  width: 22%;
  filter: brightness(1.1);         
  mix-blend-mode: multiply;         
  transition: transform 0.2s;
}



/* Servicios */
.servicios{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100vw;
  justify-content: center;
  justify-self: center;
}
.servicios div{
  width: 45%;
  margin: 10px;
  height: 100%;
  min-height: 250px;
}
.servicios div ul{
  list-style: none;
  font-size: large;
}



/* Footer */
  
  #footer{
    background-color: #764AF1;
  }
  #copyright{
    color: #F2F2F2;
    font-size: larger;
  }

  