* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
html{
    background-color: #F2F2F2 ;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
*,
 *::before,
 *::after
{
    box-sizing: inherit;
}