/* contacto */
iframe {
    border: 1px solid black;
    margin: 10px 36%;
  
    
    
  }
  #formularioCotizacion{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%;
  }