/* Footer */
  
#footer{
    background-color: #1b0125;
  }
  #copyright{
    color: #F2F2F2;
    font-size: larger;
  }
  .redesSociales a{
    color: #F2F2F2;
    text-decoration: none;
    width: 20px;
    font-size: 2rem;
  }